.game-container {
        display: flex;
    }

@media only screen and (min-width: 701px) {
    .game-container img {
        width: 300px;
        height: 225px;
    }

    .game-container p {
        margin-left: 30px;
    }

    .game {
        display: block;
        width: 600px;
        height: 450px;
    }

    .game-instructions {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 700px) {
    .game-container {
        flex-direction: column;
    }

    .game-container img {
        width: 250px;
        height: auto;
    }

    .game-container p {
        margin-top: 1em;
    }
}