.game-container {
    display: flex;
}

.game-container img {
    width: 300px;
    height: 225px;
}

.game-container p {
    margin-left: 30px;
}

.game {
    display: block;
    width: 600px;
    height: 450px;
}

.game-instructions {
    margin-top: 1em;
}