button {
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #1a1a1a;
    color: #f2e9d9;
    background-color: #1a1a1a;
    font-family: 'Roboto Mono', Roboto;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

#input-box {
    display: flex;
    flex-direction: column;
}

#input-box textarea {
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #1a1a1a;
    font-family: 'Roboto Mono', Roboto;
    resize: none;
}

#refresh-button {
    margin-bottom: 24px;
    padding: 4px 8px;
}

.guestbook-message {
    margin-bottom: 24px;
    box-sizing: border-box;
    border: 2px solid #1a1a1a;
    border-radius: 4px;
}

.guestbook-message h3 {
    margin-top: 0px;
}

.guestbook-message .header {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    color: #f2e9d9;
    background-color: #1a1a1a;
    font-weight: bold;
}

.guestbook-message .body {
    padding: 16px;
}